body{
    padding:0;
    margin: 0;
    
    font-family: Sans-Serif;
}

#padd{
    padding:1em;
}

code{
    display:inline-block;
    overflow-y: auto;
    
    padding:0.5em;
    background-color:lightgray;
    white-space: pre;
}

#sel_gp{
    width:100%;
}

#inp_gptb{
    width:100%;
}