body{
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #c9f8ff;*/
    padding: 0%;
    margin: 0%;
    background-color: green;
}

input{
    max-width: 100%;
}

#mainContent{
    margin:1%;
    padding: 1%;
    background-color: white;
    
}
#title_box{
    width:99%;
    text-align: center;
    border-style: dashed; 
    background-image: url('../Screenshot/v2.jpg');
    background-position: center;
    text-shadow: 4px 4px black, -4px -4px black, -4px 4px black, 4px -4px black;
    color: white;
}
#changelog_box{
    width:99%;
    text-align: center;
    border-style: dashed;
}
.opGpTitle{
    font-weight: bold;
    font-size: 2em;
}
.opGpSubtitle{
    font-weight: bold;
    font-size: 1.25em;
}
.setup{
    width:100%;
    text-align: left;
    font-size: large;
}
#aboutDialog{
    display:none;
    z-index: 1;
    background-color: #0000004F;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    padding-top: 15%;

}
#dialog_a{
    background-color: #e0fbff;
    padding:1%;
}
button{
    padding: 1%;
    background-color: #c9f8ff;
}
.no_border_table{
    border-style: hidden;
}
.tabs{
    border-spacing:0%;
    border-style: solid;
    border-collapse: collapse;
    width:100%;
}
.tabs td{
    border-style: solid;
    border-bottom-color: transparent;
    padding: 0%;
}
.tabs button{
    background-color:transparent;
    border-style: none;
    width:100%;
    height:100%;
    font-size: larger;

    cursor: pointer;
}
.tabs td:hover{
    background-color: #bbf6ff;
}
.tabs_btn{
    cursor: pointer;
}

label{
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}
.no_label_style{
    font-size:medium;
    font-weight: 450;
    text-decoration: none;
}
.lbl_bold{
    font-weight: bold;
}

.sub_lbl{
    font-size: 1.05em;
    font-weight: bold;
    text-decoration: none;
}

.tab_win_default_hidden{
    display:none;
}

.tab_win{
    padding: 5px;
}

.tab_chosen{
    background-color: #bbf6ff;
}

#win_map table{
    width:100%;
}
#win_map table, #win_map td, #win_map tr, #win_map th{
    border-collapse: collapse;
    border-color: black;
    border-radius: 5%;
    border-style: solid;
    padding:1%;
    text-align: center;
}

#fileGen button{
    cursor: pointer;
}


