body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 0%;
    margin: 0%;
}
button{
    padding: 1%;
    background-color: yellow;
}
#padd{
    padding: 1%;
    margin: 1%;
}

.a_btn{
    padding: 0.75em;
    text-decoration: none;
    color:black;
    background-color: #52B5F2;
    border-width: 1%;
    border-style: solid;
    border-radius: 1em;

    white-space: nowrap;
    display: inline-block;
}
.a_btn:hover{
    background-color: #C2D7F2;
}

#title_box{
    width:99%;
    text-align: center;
    border-style: dashed; 
    background-image: url('./big_title.jpg');
    background-position: center;
    text-shadow: 4px 4px black, -4px -4px black, -4px 4px black, 4px -4px black;
    color: white;
}

#div_rando{
    background-image: linear-gradient(to right, #D4FA53FF, #FFFFFF00), url("./Screenshot/random.jpg ");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    color:#53D4FA;
    text-align: left;
    padding-left: 5%;
    padding-right: 50%;
}
#div_secret{
    background-image: linear-gradient(to left, #D63A3CFF, #FFFFFF00), url("");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
    color:white;
    text-align: right;
    padding-right: 5%;
    padding-left: 50%;
}
#div_wind{
    background-image: linear-gradient(to right, #F2C029FF, #FFFFFF00), url("");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    color:white;
    text-align: left;
    padding-left: 5%;
    padding-right: 50%;
}
#div_panel{
    background-image: linear-gradient(to left, #F2E96DFF, #FFFFFF00), url("");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    color:#6DF2E9;
    text-align: right;
    padding-left: 50%;
    padding-right: 5%;
}

.big_banner{
    margin:auto;
    padding-top:0.1em;
    padding-bottom:2em;
    padding-left: 5%;
}

.big_banner h3{
    font-size: 2em;
}